.mm svg {
    width: 100%;
    height: 100%;
}

.mm-border {
    fill: none;
    stroke-width: 10;
}
.mm-border--bg {
    stroke: #FAFAFA;
}
.mm-planet {
    fill: #EEE;
    /*opacity: 0;*/
}
.mm-long {
    /*opacity: 0;*/
}
.mm-short {
    /*opacity: 0;*/
}
.mm-internal {
    opacity: 0;
}
.mm-mb {
    /*opacity: 0;*/
}
.mm-line {
    stroke-width: 6;
}
.mm-line--orange {
    stroke: #FFBC1D;
}