/*
    Common
*/

.mm {
    position: relative;
    transform-origin: 0 0;
}
.mm-lines,
.mm-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*
    Lines
*/

.mm-rect {
    fill: none;
    stroke: #eee;
    stroke-width: 8;
}
.mm-stroke {
    fill: none;
    stroke: #FFBC1D;
    stroke-width: 8;
    animation: mm-stroke 2s linear infinite;
}
@keyframes mm-stroke {
    0% { stroke-dashoffset: 0; }
    0% { stroke-dashoffset: var(--offset); }
}
.mm-line {
    fill: none;
    stroke: #FFBC1D;
    stroke-width: 8;
    stroke-dasharray: 10;
    animation: mm-line 1s linear infinite;
}
@keyframes mm-line {
    0% { stroke-dashoffset: 0; }
    0% { stroke-dashoffset: 20; }
}



/*
    Items
*/

.mm-item,
.mm-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--r) * 2);
    height: calc(var(--r) * 2);
    margin-top: calc(var(--r) * -1);
    margin-left: calc(var(--r) * -1);
}
.mm-item {
    transition: opacity .3s;
}
.mm-moon {
    border-radius: 50%;
    transition: transform .3s;
    background: #F00;
}




/*
    Content
*/

.mm-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.mm-label {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    font-size: var(--f);
    text-align: center;
    color: #FFF;
    padding: 0 16px;
}